version: '3.8'
services:
  server:
    build:
      context: .
      dockerfile: gdynya/Dockerfile
    environment:
      - OBJSTORE_ENDPOINT=http://minio:9100
      - OBJSTORE=gdynya
      - RUST_LOG=gdynya=Debug
      - AWS_ACCESS_KEY_ID=gdynya
      - AWS_SECRET_ACCESS_KEY=gdynya-password
      - AWS_DEFAULT_REGION=ap-northeast-1
      - RULES=/etc/gdynya/rules.yaml
    volumes:
      - type: bind
        source: gdynya/rules.example.yaml
        target: /etc/gdynya/rules.yaml
    ports:
      - 8080:8080
    depends_on:
      - minio
  configure-minio:
    image: public.ecr.aws/aws-cli/aws-cli
    command: s3api create-bucket --endpoint http://minio:9100 --bucket gdynya
    environment:
      - AWS_ACCESS_KEY_ID=gdynya
      - AWS_SECRET_ACCESS_KEY=gdynya-password
      - AWS_DEFAULT_REGION=ap-northeast-1
    depends_on:
      - minio
  minio:
    image: minio/minio:latest
    command: server --address 0.0.0.0:9100 --console-address 0.0.0.0:9200 /data
    volumes:
      - type: volume
        source: gdynya
        target: /data
    environment:
      - MINIO_ROOT_USER=gdynya
      - MINIO_ROOT_PASSWORD=gdynya-password
    ports:
      - 9100:9100
      - 9200:9200

  ui:
    build: gdynya-ui
    ports:
      - 3000:3000
volumes:
  gdynya: {}
